# Data Science Tools and Ecosystems

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Identify commonly used libraries in Data Science.
* Understand data science tools and environments.
* Perform basic arithmetic operations in code cells.

 Some of the popular languages that Data Scientists use are:

 
 1.Python

 
 2.R
 
 3.SQl

Some of the commonly used libraries used by Data Scientists include:

1.scikit learn

2.pandas

3.Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Hadoop      |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Lakshmi Holla
## Niveditha Pandith
Saurabh Singh